# Text files -> commit sebagai LF
* text=auto eol=lf
.bat text eol=crlf
.cmd text eol=crlf
# Images & binaries jangan disentuh
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.docx binary
*.xlsx binary
*.zip binary
